<div class="container">
  <h3 class="panel-header"><mdl-icon class="header-icon">remove_red_eye</mdl-icon>Understandable Checkers</h3>
  <div class="description paragraph">Readability Checkers will try to evaluate whether a given website is easy to understand</div>
  <div class="mdl-grid">
    <div class="mdl-cell">
      <mdl-card mdl-shadow="4">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text>Readability Assessment</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          Assess word-level readability score
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple routerLink="/checker/demo">
            View Details
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>

    <div class="mdl-cell">
      <mdl-card mdl-shadow="4">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text>Image Text</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          Image Text score
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple routerLink="/checker/text-image">
            View Details
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>



    <!--<div class="mdl-cell">-->
      <!--<mdl-card mdl-shadow="4">-->
        <!--<mdl-card-title mdl-card-expand>-->
          <!--<h2 mdl-card-title-text>Checker 2</h2>-->
        <!--</mdl-card-title>-->
        <!--<mdl-card-supporting-text>-->
          <!--checker description...-->
        <!--</mdl-card-supporting-text>-->
        <!--<mdl-card-actions mdl-card-border>-->
          <!--<button mdl-button mdl-colored mdl-ripple>-->
            <!--View Details-->
          <!--</button>-->
        <!--</mdl-card-actions>-->
      <!--</mdl-card>-->
    <!--</div>-->
  </div>
</div>

