<div class="container">
  <h3 class="panel-header"><mdl-icon class="header-icon">remove_red_eye</mdl-icon>Robust Checkers</h3>
  <div class="description paragraph">Readability Checkers will try to evaluate whether a given website is robust</div>
  <div class="mdl-grid">
    <div class="mdl-cell">
      <mdl-card mdl-shadow="4">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text>4.1 Compatible</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          Maximize compatibility with current and future user agents, including assistive technologies.
          Show techniques and failures for 4.1
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple routerLink="/checker/4-1">
            View Details
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>


  </div>
</div>

