<div class="container">
  <h3 class="panel-header"><mdl-icon class="header-icon">remove_red_eye</mdl-icon>Perceivable Checkers</h3>
  <div class="description paragraph">Perceivable Checkers will try to evaluate whether a given website is easy to perceive</div>
  <div class="mdl-grid">
    <div class="mdl-cell">
      <mdl-card mdl-shadow="4">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text>1.1 Text Alternatives</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          check none-text content's text alternatives
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple routerLink="/checker/1-1">
            View Details
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>
    <div class="mdl-cell">
      <mdl-card mdl-shadow="4">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text>1.2 Time-based Media</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          check time-based's text alternatives
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple routerLink="/checker/1-2">
            View Details
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>

    <div class="mdl-cell">
      <mdl-card mdl-shadow="4">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text>1.3 Adaptable</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          Create content that can be presented in different ways (for example simpler layout) without losing information or structure
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple routerLink="/checker/1-3">
            View Details
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>

    <div class="mdl-cell">
      <mdl-card mdl-shadow="4">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text>1.4 Distinguishable</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          Make it easier for users to see and hear content including separating foreground from background.
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-colored mdl-ripple routerLink="/checker/1-4">
            View Details
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>


  </div>
</div>

