<div class="container" >
  <panel >

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <h2 ><span style="color: red">W</span>eb <span style="color: red">A</span>ccessibility <span style="color: red">M</span>etric</h2>
        <p class="description">
          A tool to measure the accessibility of web
        </p>
      </div>
      <div class="mdl-cell mdl-cell--8-col" [@showState]="'showed'">
        <img src="/images/WAM-Banner.jpg" alt="" style="width:100%;">
      </div>

    </div>


  </panel>

  <checker-dashboard ></checker-dashboard>
</div>
